<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style-footer.css" type="text/css">
    <link rel="stylesheet" href="/css/global.css" type="text/css">

    <link rel="stylesheet" href="/css/detail-portfolio/hero.css" type="text/css">
    <link rel="stylesheet" href="/css/detail-portfolio/nav-detail.css" type="text/css">
    <link rel="stylesheet" href="/css/index/style-proses.css" type="text/css">
    <link rel="stylesheet" href="/css/detail-portfolio/services.css" type="text/css">
    <link rel="stylesheet" href="/css/style-footer.css">
    <!-- pop up -->
    <link rel="stylesheet" href="/css/pop-up/style-pop-up-form.css">
    <title><%= title %></title>
</head>

<body>

    <%- body  %>

    <!-- form subscribe -->
    <%- include('form') %>

    <!-- ----- Footer ---- -->
    <%- include('footer')  %>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- layout -->
    <script src="/js/layout.js"></script>
    <!-- carousel -->
    <script src="/js/carausel.js"></script>
    <script src="/js/responsive.js"></script>
    <script src="/js/responsive-detail.js"></script>
    <script src="/js/readMoreLess.js"></script>
</body>

</html>