<footer class="footer padding flex-center-between-row">
    <div class="top-footer flex-center-between-row">
        <h1 class="footer-title">Want to develop your digital product? Let's talk with us to get the solution</h1>
        <p class="description">Let's discuss the project business that will be done with our team to develop the
            digital product you want</p>

        <!-- form subscribe us (allert) -->
        <button type="button" class="btn btn-footer">Let's Discuss</button>

    </div>
    <div class="bottom-footer flex-between-center">

        <div class="container-bottom logo-footer flex-left-bottom">
            <i class="fa-brands fa-slack"></i> DigitalAgency
        </div>
        <p class="container-bottom copyright flex-center-bottom">Copyright @ 2018 DigitalAgency</p>
        <div class="container-bottom contact-footer flex-right-bottom">
            <a href="#">
                <ion-icon class="icon-footer" name="mail-outline"></ion-icon>
            </a>
            <a href="#">
                <ion-icon class="icon-footer" name="logo-facebook"></ion-icon>
            </a>
            <a href="#">
                <ion-icon class="icon-footer" name="logo-instagram"></ion-icon>
            </a>
            <a href="#">
                <ion-icon class="icon-footer" name="logo-google"></ion-icon>
            </a>
        </div>
    </div>
</footer>