<!-- ------------------- NAVIGATION ---------------------------- -->
<nav class="navigation flex-between-center padding">
    <div class="logo flex-center-center" translate="no">
        <i class="fa-brands fa-slack"></i> DigitalAgency
    </div>

    <ul class="menu deks flex-center-center">
        <li class="list">
            <a class="flex-center-center list-a active">Home</a>
        </li>
        <li class="list">
            <a class="flex-center-center list-a">Service</a>
        </li>
        <li class="list">
            <a class="flex-center-center list-a">About</a>
        </li>
        <li class="list">
            <a class="flex-center-center list-a">Portofolio</a>
        </li>
    </ul>

    <button class="contact btn">Contact Us</button>
    <i class="fa-solid fa-bars burger-icon"></i>
</nav>

<!-- ------------------------ NAVIGATION MOBILE ------------------- -->
<div class="mob-menu">
    <ul class="menu padding flex-center-center-row">
        <li class="list flex-left-center list-a mob">
            <ion-icon name="home-outline"></ion-icon>
            <a class="flex-center-center active">Home</a>
        </li>
        <li class="list flex-left-center list-a mob">
            <ion-icon name="build-outline"></ion-icon>
            <a class="flex-center-center">Service</a>
        </li>
        <li class="list flex-left-center list-a mob">
            <ion-icon name="information-circle-outline"></ion-icon>
            <a class="flex-center-center">About</a>
        </li>
        <li class="list flex-left-center list-a mob">
            <ion-icon name="people-outline"></ion-icon>
            <a class="flex-center-center">Portofolio</a>
        </li>
        <li class="list flex-left-center list-a mob">
            <ion-icon name="call-outline"></ion-icon>
            <a class="flex-center-center">Contact Us</a>
        </li>
    </ul>
</div>