<!-- ------------------- NAVIGATION ---------------------------- -->
<nav class="navigation flex-between-center padding">
    <div class="logo flex-center-center" translate="no">
        <i class="fa-brands fa-slack"></i> DigitalAgency
    </div>

    <ul class="menu deks flex-center-center">
        <li class="list">
            <a class="flex-center-center active" href="#">Home</a>
        </li>
        <li class="list">
            <a class="flex-center-center" href="#">Service</a>
        </li>
        <li class="list">
            <a class="flex-center-center" href="#">About Us</a>
        </li>
        <li class="list">
            <a class="flex-center-center" href="#">Our Client</a>
        </li>
    </ul>

    <button class="contact btn">Contact Us</button>
    <i class="fa-solid fa-bars burger-icon"></i>
</nav>

<!-- ------------------------ NAVIGATION MOBILE ------------------- -->
<div class="mob-menu">
    <ul class="menu padding flex-center-center-row">
        <li class="list flex-left-center">
            <ion-icon name="home-outline"></ion-icon>
            <a class="flex-center-center active" href="#">Home</a>
        </li>
        <li class="list flex-left-center">
            <ion-icon name="build-outline"></ion-icon>
            <a class="flex-center-center" href="#">Service</a>
        </li>
        <li class="list flex-left-center">
            <ion-icon name="people-outline"></ion-icon>
            <a class="flex-center-center" href="#">Our Client</a>
        </li>
        <li class="list flex-left-center">
            <ion-icon name="information-circle-outline"></ion-icon>
            <a class="flex-center-center" href="#">About Us</a>
        </li>
        <li class="list flex-left-center">
            <ion-icon name="call-outline"></ion-icon>
            <a class="flex-center-center" href="#">Contact Us</a>
        </li>
    </ul>
</div>