<!-- --------------------------- Hero Section -------------------------- -->

<section class="hero" id="home">
    <div class="top-hero-section flex-between-top padding">
        <h1 class="hero-title flex-evenly-center-row">We are a creative digitalagency to provide solutions to your
            problems.</h1>
        <div class="hero-text flex-evenly-center-row">
            <p class="description">Digtal agency dedicaned to solving probiems and oreating impactful digtal
                experiences for users. We make digital preducts with the am of giving the best to users</p>
            <div class="btn-container flex-left-center">
                <button class="btn request">Request a quote</button>
                <button class="btn demo flex-evenly-center">
                    <ion-icon name="play-circle-outline"></ion-icon> Watch demo
                </button>
            </div>
        </div>
    </div>
    <div class="hero-img">
        <img src="./img/hero/hero.png" alt="">
    </div>
</section>

<!-- ---------------------------- Service Desription --------------------- -->

<section class="service padding flex-center-center-row" id="service">
    <div class="title-service flex-between-center">
        <h2 class="service-title flex-center-center">Digital agency work to interact and our services can help you.
        </h2>
        <p class="description desc-title flex-center-center">We want to provide a user-friendly experience with the
            eyes
            capture designs and
            develop products quickly with the ability to solve user problems.</p>
    </div>
    <div class="services flex-center-center-wrap">
        <div class="card-service flex-left-between-row">
            <div class="icon-card flex-center-center">
                <ion-icon name="globe-outline"></ion-icon>
            </div>
            <h3 class="card-title flex-left-center">Web Development</h3>
            <p class="description">Build your beautiful agency website with us that converts more visitors than any
                other website and the ability to interact and rotate products to solve user problems.</p>
            <a href="#" class="link-service">Learn more &#8594</a>
        </div>
        <div class="card-service flex-left-between-row">
            <div class="icon-card flex-center-center">
                <ion-icon name="easel-outline"></ion-icon>
            </div>
            <h3 class="card-title flex-left-center">UI/UX Design</h3>
            <p class="description">Build your beautiful agency website with us that converts more visitors than any
                other website and the ability to interact and rotate products to solve user problems.</p>
            <a href="#" class="link-service">Learn more &#8594</a>
        </div>
        <div class="card-service flex-left-between-row">
            <div class="icon-card flex-center-center">
                <ion-icon name="game-controller-outline"></ion-icon>
            </div>
            <h3 class="card-title flex-left-center">VR & 3D Games</h3>
            <p class="description">Build your beautiful agency website with us that converts more visitors than any
                other website and the ability to interact and rotate products to solve user problems.</p>
            <a href="#" class="link-service">Learn more &#8594</a>
        </div>
        <div class="card-service flex-left-between-row">
            <div class="icon-card flex-center-center">
                <ion-icon name="videocam-outline"></ion-icon>
            </div>
            <h3 class="card-title flex-left-center">VFX Videos & Trailers</h3>
            <p class="description">Build your beautiful agency website with us that converts more
                visitors than any
                other website and the ability to interact and rotate products to solve user problems.</p>
            <a href="#" class="link-service">Learn more &#8594</a>
        </div>
    </div>
</section>

<!-- -------------------------- section benefit ------------------------ -->
<section class="benefit flex-between-center" id="about">
    <div class="content flex-left-between-row">
        <h3 class="benefit-title">Dedicated to the success of your digital product.</h3>
        <p class="description">We create modern and customized websites for your business growth. and enter the talk
            room with us.</p>
        <ul class="benefit-lists flex-left-between-row">
            <li class="benefit-list">
                <ion-icon name="checkmark-done-outline"></ion-icon> Fast and easy to create a website
            </li>
            <li class="benefit-list">
                <ion-icon name="checkmark-done-outline"></ion-icon> High quality design software products
            </li>
            <li class="benefit-list">
                <ion-icon name="checkmark-done-outline"></ion-icon> Beautiful Ul elements to build page
            </li>
            <li class="benefit-list">
                <ion-icon name="checkmark-done-outline"></ion-icon> Immersive pixel perfect user iterfaces for VR,
                Mobile and desktop game
            </li>
            <li class="benefit-list">
                <ion-icon name="checkmark-done-outline"></ion-icon> Proven design system to scale start ups with
                agile iterative design model
            </li>
        </ul>
    </div>
    <div class="img-container">
        <img src="./img/benefit/brefing.png" alt="">
    </div>
</section>

<!-- ----------------------------- Develoment proses --------------------  -->

<section class="proses padding flex-center-center-row" id="portofolio">
    <div class="title-proses flex-between-center">
        <h2 class="proses-title flex-center-center">How we work to develop digital products with the ability
            interact</h2>
        <p class="description flex-center-center">We want to provide a user-friendly experience with the eyes
            capture designs and
            develop products quickly with the ability to solve user problems.</p>
    </div>
    <div class="carausel-proses flex-between-center">
        <!-- btn for carausel -->

        <ion-icon class="btn-carausel left-btn-carausel" name="arrow-back-circle-outline"></ion-icon>
        <ion-icon class="btn-carausel right-btn-caraosel" name="arrow-forward-circle-outline">
        </ion-icon>

        <div class="carausel-container flex">

            <div class="carda card-proses flex-left-center-row">
                <img src="./img/carousel/research.png" alt="">
                <h3 class="title-card">Product Research</h3>
                <p class="desc-card">Do the product research needed to find solution to the problem and we do it
                    with the team.</p>
            </div>
            <div class="card-proses flex-left-center-row">
                <img src="./img/carousel/data.png" alt="">
                <h3 class="title-card">Data Collection</h3>
                <p class="desc-card">Collect data with the team and evaluate problem and then determine what must be
                    solved.</p>
            </div>
            <div class="card-proses flex-left-center-row">
                <img src="./img/carousel/problem.png" alt="">
                <h3 class="title-card">Problem Solving</h3>
                <p class="desc-card">Collect data with the team and evaluate problem and then determine what must be
                    solved.</p>
            </div>
            <div class="card-proses flex-left-center-row">
                <img src="./img/carousel/research.png" alt="">
                <h3 class="title-card">Product Research</h3>
                <p class="desc-card">Do the product research needed to find solution to the problem and we do it
                    with the team.</p>
            </div>
            <div class="card-proses flex-left-center-row">
                <img src="./img/carousel/data.png" alt="">
                <h3 class="title-card">Data Collection</h3>
                <p class="desc-card">Collect data with the team and evaluate problem and then determine what must
                    be
                    solved.</p>
            </div>
            <div class="card-proses flex-left-center-row">
                <img src="./img/carousel/problem.png" alt="">
                <h3 class="title-card">Problem Solving</h3>
                <p class="desc-card">Collect data with the team and evaluate problem and then determine what must
                    be
                    solved.</p>
            </div>
        </div>
    </div>
</section>